@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}
@layer components {
  .th {
    @apply px-6 py-6 text-start  font-bold text-gray-500 uppercase dark:text-gray-400;
  }
  .td {
    @apply whitespace-nowrap text-gray-500 dark:text-gray-400 font-medium;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
