@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #131315; */
  /* color: white; */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
